 @font-face {
    font-family: harry p;
    src: url("HarryP_font/HARRYP__.TTF") format("TrueType");
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

button{
    cursor: pointer;
}

section .centro{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .centro .titulo{
    padding-top: 150px;
    padding-bottom: 20px;
    color: #d3a625;
    font-family: harry p, sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 240px;
    font-weight: bold;
    text-shadow: 0px 0px 0px black,0px 0px 10px black,0px 0px 5px black;
    
}

section .centro .contenedor-buscador{
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    
}

section .centro .contenedor-buscador .buscador-input{
    width: 900px;
    padding: 16px;
    padding-left: 45px;
    padding-right: 60px;
    padding-bottom: 14px;
    border-radius: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    border: 1px solid #ccc;
    border: none;
    outline: none;
    font-size: 16px;
}


section .centro .contenedor-buscador .icono{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 18px 15px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

section .centro .contenedor-buscador .buscador-lista{
    list-style: none;
    padding: 0px 15px 20px;
    margin: unset;
    font-size: 16px;
}

section .centro .contenedor-buscador .buscador-lista li{
    border: none;
    border-top: unset;
}

section .centro .contenedor-buscador .buscador-lista li:hover{
    background: #f0f0f0;
}

section .centro .contenedor-buscador .buscador-lista button{
    border: unset;
    background: unset;
    display: block;
    width: 100%;
    padding: 10px 15px 10px;
    text-align: left;
    font-size: 16px

}


section .centro .btn-enviar{
    margin: 20px 5px;
    padding: 12px 20px;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
}


section .centro  button:hover{
    border: 1px solid #555;
}

.cromo{
    display: none;
    background-color: transparent;
    width: 500px;
    height: 400px;
    perspective: 1000px;
}

.interior-del-cromo{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cromo:hover .interior-del-cromo{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.cromo:hover #imagen{
    display: none;
}
.frente-del-cromo,
.reverso-del-cromo{
    position: absolute;
    display: flex;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


#imagen{
    position: absolute;
    z-index: -1;
    width: 210px;;
    top: 119px;
    left: 140px;
    object-fit: cover;
}

#nombre{
    position: absolute;
    text-align: center;
}

.reverso-del-cromo{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

#datos{
    position: absolute;
    z-index: 10;
    font-size: 14px;
    color: #ffff;
}
@media screen and (max-width: 768px){
    .contenedor{
        background-image: url(mobile-moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        width: auto;
        margin-top: 0.1em;
        color: #eeba30;
        font-family: harry p, sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 5em;
        font-weight: bold;
    }
    .contenedor__Buscador{
        position: relative;
        width: 15em;
        margin-top: 0;
    }

    input{
        margin-top: 0.01em;
    }

    .icono{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        padding: 1.1em 1em;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    button{
    padding: 0.40em 0.5em;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    }
}


