 @font-face {
    font-family: harry p;
    src: url("HarryP_font/HARRYP__.TTF") format("TrueType");
 }

*{
    font-family: Arial, sans-serif;
    
}

.contenedor{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.centro{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    padding-top: 60px;
    width: 100%;
    color: #d3a625;
    font-family: harry p, sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 180px;
    font-weight: bold;
    text-shadow: 0px 0px 0px black,0px 0px 10px black,0px 0px 5px black;
    
}

.contenedor__Buscador{
    position: relative;
    width: 100%;
    margin-top: -100px;
}

.buscador{
    width: 100%;
    padding: 13px 45px 13px 60px;
    background-color: rgb(231, 229, 229);
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.icono{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.boton{
    margin-top: 20px;
}

button{
    margin: 0 5px;
    padding: 12px 20px;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
}

button:hover{
    border: 1px solid #555;
}

@media screen and (max-width: 768px){
    .contenedor{
        background-image: url(mobile-moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        width: auto;
        margin-top: 0.1em;
        color: #eeba30;
        font-family: harry p, sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 5em;
        font-weight: bold;
    }
    .contenedor__Buscador{
        position: relative;
        width: 15em;
        margin-top: 0;
    }

    input{
        margin-top: 0.01em;
    }

    .icono{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        padding: 1.1em 1em;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    button{
    padding: 0.40em 0.5em;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    }
}