 @font-face {
    font-family: harry p;
    src: url("HarryP_font/HARRYP__.TTF") format("TrueType");
 }

*{
    font-family: Arial, sans-serif;
    
}

.contenedor{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.centro{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    padding-top: 60px;
    width: 100%;
    color: #d3a625;
    font-family: harry p, sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 180px;
    font-weight: bold;
    text-shadow: 0px 0px 0px black,0px 0px 10px black,0px 0px 5px black;
    
}

.contenedor__Buscador{
    position: relative;
    width: 100%;
    margin-top: -100px;
}

.buscador{
    width: 100%;
    padding: 13px 45px 13px 60px;
    background-color: rgb(231, 229, 229);
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.icono{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.boton{
    margin-top: 20px;
}

button{
    margin: 0 5px;
    padding: 12px 20px;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
}

button:hover{
    border: 1px solid #555;
}

.cromo{
    display: none;
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 400px;
    perspective: 1000px;
}

.interior-del-cromo{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cromo:hover .interior-del-cromo{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.frente-del-cromo,
.reverso-del-cromo{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.frente-del-cromo{
    z-index: 10;
}
.frente-del-cromo__imagen{
    position: absolute;
    z-index: -1;
    width: 50%;
    left: 120px;
    top: 140px;
    text-align: center;
    justify-content: center;
}

.reverso-del-cromo{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
@media screen and (max-width: 768px){
    .contenedor{
        background-image: url(mobile-moonlight-Half-Moon-stars-clouds-space-clouds-night-1958833-wallhere.com.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        width: auto;
        margin-top: 0.1em;
        color: #eeba30;
        font-family: harry p, sans-serif;
        text-align: center;
        text-transform: capitalize;
        font-size: 5em;
        font-weight: bold;
    }
    .contenedor__Buscador{
        position: relative;
        width: 15em;
        margin-top: 0;
    }

    input{
        margin-top: 0.01em;
    }

    .icono{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        padding: 1.1em 1em;
        justify-content: space-between;
        align-items: center;
        pointer-events: none;
    }

    button{
    padding: 0.40em 0.5em;
    background-color: rgb(231, 229, 229);
    color: #555;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    outline: none;
    }
}

#listaDeEstudiantes {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

.estudiante {
    list-style-type: none;
    background-color: #eaeaea;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'name image'
        'house image';
    text-align: left;
}

.estudiante > h2 {
    grid-area: name;
    margin-bottom: 0px;
}

.estudiante > p {
    grid-area: house;
    margin: 0;
    margin-top: -18px;
}

.estudiante > img {
    max-height: 100px;
    grid-area: image;
}